<div class="container">
  <form action="#" *ngIf="!current_offer">
    <div>
      <h1>Farmer </h1>
      <form (ngSubmit)="onSubmit()" #offerForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="offer.fruitName" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid"
               class="alert alert-danger">
            Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity"
                 [(ngModel)]="offer.fruitQuantity" name="quantity" #quantity="ngModel" >
          <div [hidden]="quantity.valid"
               class="alert alert-danger">
            Quantity is required
          </div>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price"
                 [(ngModel)]="offer.fruitUnitPriceEUR" name="price"  #price="ngModel" >
          <div [hidden]="quantity.valid"
               class="alert alert-danger">
            Price is required
          </div>
        </div>

        <button [disabled]="!offerForm.form.valid" type="button" class="btn btn-default" (click)="createOffer()">Send Offer</button>
<!--        <button type="button" class="btn btn-default" (click)="formSubmit(); offerForm.reset()">Send Offer</button>-->
      </form>
    </div>


  </form>

  <div *ngIf="current_offer">
    <h1>{{user.username}} : {{user.wallet}}€</h1>
    <hr>
    <h1>Dashboard </h1>
    <div class="form-group">

      <p><label for="price">Fruit </label> : {{offer.fruitName}} <p>
    </div>

    <div class="form-group">

      <p><label for="price">Quantity </label> :  {{offer.fruitQuantity}} <p>
    </div>

    <div class="form-group">

      <p><label for="price">Price </label> : {{offer.fruitUnitPriceEUR}} <p>
    </div>

    <button type="button" class="btn btn-default" (click)="removeOffer();">remove Offer</button>
    <button type="button" class="btn btn-default" (click)="editOffer();">Edit Offer</button>
  </div>

</div>
